/linux-docker
/renders_paired
/libusb
/frames
/CAMERA_output
/DIGIT_output
/ycb
/YCB-Slide
/build
/pretrain_rendered_data
/collected_data
/data_collection_scripts/collected_data
/librealsense
/Depth-Anything-V2
/nerf_generation
/data_collection_scripts/processed_data
/cuda_11.8.0_520.61.05_linux.run
/collected_data
/data 
.venv/
__pycache_/
*.pyc
.DS_Store
*.png
/Segment-and-Track-Anything
*.ply
*.ply
data/
.venv/
