/build
/cuda_11.8.0_520.61.05_linux.run
.venv/
__pycache__/
.DS_Store/
# Ignore git submodules folders
Depth-Anything-V2/
librealsense/
Segment-and-Track-Anything/
FoundationPose/

# Ignore data and output directories
data/*

# Ignore Python cache and virtual environments
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Local configuration files
vpn_ip.txt
*connect.sh

# Ignore build and cache directories in submodules
**/build/
**/__pycache__/

